body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: Arial;
}

$mainColor: #0f9adc;
$text-color-culture: #646464;
.banner {
    img {
        width: 100%;
        object-fit: cover;
    }
}

@mixin hr-small($width) {
    width: $width;
    height: 5px;
    background-color: rgb( 15, 154, 220);
}

.hr-small {
    @include hr-small(33px);
}

.hr-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hr-smallest {
    @include hr-small(15px);
    margin-left: 1px;
}

@mixin title-top-bottom-line($border-color) {
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    .border-top-bottom {
        display: inline-block;
        border-top: 4px solid $border-color;
        border-bottom: 4px solid $border-color;
    }
}

.menu {
    nav.bg-light {
        background: $mainColor!important;
    }
    .navbar-brand {
        img {
            transform: scale(0.6);
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding-left: 1rem;
                padding-right: 1rem;
                color: white!important;
                font-size: 14px;
            }
        }
        .active {
            border-bottom: 2px solid white;
        }
    }
}

.people-and-culture {
    background-color: white;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title {
        font-size: 96px;
        color: $mainColor;
        @include title-top-bottom-line($mainColor)
    }
    &__text--hr {
        margin-top: 30px;
        color: $text-color-culture;
        p {
            margin-bottom: 13px;
            font-size: 25px;
        }
    }
    &__boxtext--blue {
        border: 4px solid $mainColor;
        padding: 8px;
        font-size: 30px;
        ;
        font-weight: bold;
        color: #3c3c3c;
    }
    &__text--no-box {
        font-size: 25px;
        color: rgb( 60, 60, 60);
        text-align: center;
        margin-top: 37px;
    }
}

.principles {
    background: $mainColor;
    .container {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    &__title {
        font-size: 40px;
        font-family: "Arial";
        color: rgb( 255, 255, 255);
        text-transform: uppercase;
        @include title-top-bottom-line(white);
    }
    &__content {
        margin-top: 20px;
        color: white;
        font-size: 25px;
    }
}

.valueable {
    .container {
        padding-top: 87px;
        padding-bottom: 90px;
    }
    &__title {
        font-size: 40px;
        color: $mainColor;
        @include title-top-bottom-line($mainColor)
    }
    &__content {
        font-size: 20px;
        color: rgb( 100, 100, 100);
        margin-top: 40px;
    }
}

.people {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/our_people.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__content {
        font-size: 20px;
        ;
        font-family: "Arial";
        color: rgb( 100, 100, 100);
        margin-top: 40px;
    }
    &__text--box {
        border: 4px solid $mainColor;
        padding: 30px;
        font-size: 25px;
        ;
        font-weight: bold;
        color: #3c3c3c;
        margin-top: 87px;
    }
}

.mission_vision {
    background: url('../img/asian_market_background1.png')center center no-repeat;
    background-position: top;
    padding-top: 1px;
    &__title {
        background: rgba(15, 154, 220, 0.8);
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 40px;
        text-transform: uppercase;
        @include title-top-bottom-line(white);
    }
    .asia-market {
        .dot-side-title {
            font-size: 35.555px;
            font-family: "Arial";
            color: rgb( 100, 100, 100);
            text-transform: uppercase;
            margin-top: 95px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                &:nth-child(1) {
                    margin-right: 25px;
                }
                &:nth-child(2) {
                    margin-left: 25px;
                }
            }
        }
        &__img {
            margin-top: 40px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__content {
            font-size: 24px;
            font-family: "Arial";
            color: rgb( 100, 100, 100);
            margin-top: 40px;
        }
    }
    .mission {
        .dot-side-title {
            font-size: 35.555px;
            font-family: "Arial";
            color: rgb( 35, 34, 34);
            text-transform: uppercase;
            margin-top: 70px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                &:nth-child(1) {
                    margin-right: 25px;
                }
                &:nth-child(2) {
                    margin-left: 25px;
                }
            }
        }
        &__img {
            margin-top: 40px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__content {
            font-size: 23px;
            font-family: "Arial";
            color: rgb( 100, 100, 100);
            margin-top: 40px;
        }
    }
    .vision {
        .dot-side-title {
            font-size: 35.555px;
            font-family: "Arial";
            color: rgb( 100, 100, 100);
            text-transform: uppercase;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                &:nth-child(1) {
                    margin-right: 25px;
                }
                &:nth-child(2) {
                    margin-left: 25px;
                }
            }
        }
        &__img {
            margin-top: 40px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__content {
            font-size: 24px;
            font-family: "Arial";
            color: rgb( 100, 100, 100);
            margin-top: 40px;
        }
    }
}

.overview {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/overview.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    .overview__content {
        background: url('../img/timeline-background1.jpg') center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .overview-timeline {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-top: 140px;
            .overview-timeline--left {
                font-size: 30px;
                font-family: "Arial";
                color: rgb( 44, 44, 44);
                font-weight: bold;
                text-align: left;
                margin-right: 30px;
            }
            .overview-timeline--right {
                font-size: 30px;
                font-family: "Arial";
                color: rgb( 100, 100, 100);
                font-weight: bold;
                p {
                    position: absolute;
                    margin-left: 30px;
                    &:nth-child(1) {
                        top: 110px;
                    }
                    &:nth-child(2) {
                        top: 255px;
                    }
                    &:nth-child(3) {
                        top: 375px;
                    }
                    &:nth-child(4) {
                        top: 530px;
                    }
                }
            }
        }
        .overview--text {
            font-size: 16px;
            font-family: "Arial";
            color: rgb( 60, 60, 60);
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}

.development {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/development.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 16px;
        font-family: "Arial";
        color: rgb( 60, 60, 60);
        text-align: center;
    }
    .Infrastructure {
        margin-top: 30px;
        &__box-title {
            background: url('../img/development-box-title.png') center center no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            color: white;
            font-size: 16px;
            padding-top: 20px;
            text-align: center;
            padding-bottom: 20px;
        }
        &__img {
            margin-top: 10px;
            img {
                width: 100%;
            }
        }
    }
}

.consultancy {
    padding-top: 60px;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/consultancy-background.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__content {
        font-size: 16px;
        font-family: "Arial";
        color: rgb( 60, 60, 60);
        padding-top: 60px;
    }
}

.capital {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital-background.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 16px;
        font-family: "Arial";
        color: rgb( 100, 100, 100);
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
    }
    &__box {
        background: $mainColor;
        padding: 15px;
        box-sizing: border-box;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        &:nth-child(1) {
            margin-left: 0px;
        }
        &:nth-child(2) {
            margin-right: 0px;
        }
        p {
            color: white;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
    &__img {
        img {
            width: 100%;
        }
        padding-top: 30px;
    }
}

.financials {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/finacials-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__box {
        background: $mainColor;
        padding: 20px;
        margin: 40px 0px;
        &:nth-child(1) {
            margin-bottom: 20px;
        }
        color: white;
        &__title {
            font-size: 16px;
            text-transform: uppercase;
        }
        &__text {
            font-size: 15px;
            text-transform: uppercase;
        }
        &__underline {
            width: 50px;
            height: 4px;
            background: white;
        }
    }
}

.family {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__box {
        margin-top: 60px;
        border: 1px solid rgb( 100, 100, 100);
        &__img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__text {
            font-size: 16px;
            padding: 40px;
            color: rgb( 100, 100, 100);
        }
    }
}

.club {
    margin-top: 40px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/club-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 16px;
        padding: 40px;
        color: rgb( 100, 100, 100);
    }
    &__img {
        padding-top: 40px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.east-golbal {
    &__img {
        img {
            width: 100%;
        }
    }
}

.location {
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    background: $mainColor;
    &__title {
        font-size: 35px;
        font-family: "Arial";
        color: rgb( 255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.272;
        text-align: center;
    }
    &__box-office {
        background: white;
        color: $mainColor;
        font-size: 16px;
        padding: 0px 75px 0px 10px;
        text-align: center;
        display: inline-block;
        margin-top: 40px;
    }
    &__info {
        p {
            color: white;
            font-size: 16px;
            margin-bottom: 0px;
        }
    }
    &__icon {
        padding-right: 20px;
    }
    .location__info__wrap {
        margin-top: 35px;
    }
    .Qrcode {
        padding-top: 30px;
    }
}

.footer {
    background: $mainColor;
    margin-top: 60px;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    a {
        text-decoration: none;
    }
    &__title {
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 20px;
        cursor: pointer;
        &:hover {
            color: #333;
        }
    }
    &__wrap-link {
        padding-left: 0px;
    }
    &__item {
        list-style: none;
        margin-bottom: 10px;
    }
    &__link {
        text-decoration: none;
        color: white;
        font-size: 14px;
        &:hover {
            color: #333;
        }
    }
}

//CSS for contact page
.banner-contact {
    position: relative;
    &__img {
        img {
            width: 100%;
        }
    }
    &__title {
        font-size: 40px;
        background-color: rgba( 0, 13, 19, 0.5);
        color: white;
        padding-top: 35px;
        padding-bottom: 35px;
        @include title-top-bottom-line(white);
        font-weight: normal;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-transform: none;
    }
}

.contact-map {
    .container {
        padding-top: 110px;
        padding-bottom: 110px;
    }
    &__email {
        font-size: 30px;
        line-height: 0.83;
        margin-bottom: 110px;
    }
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &__img {
        padding-right: 40px;
    }
    &__office {
        font-size: 27px;
        color: rgb( 0, 0, 0);
        line-height: 1.481;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    &__location {
        font-size: 18px;
        color: rgb( 0, 0, 0);
    }
}

.eg-career {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/contact/carerr-title-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
}

.jobs-listing {
    text-align: center;
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-family: "Arial";
        color: rgb( 1, 0, 0);
        line-height: 0.857;
        text-transform: capitalize;
        padding-top: 70px;
        padding-bottom: 30px;
        img {
            padding-right: 32px;
            transform: scale(0.6);
        }
    }
}

.position-hr {
    width: 100%;
    height: 3px;
    background: rgb( 0, 0, 0);
    margin-top: 15px
}

.career-location {
    margin-top: 65px;
    &__title {
        padding: 18px 0px;
        background: url('../img/contact/job-list-title-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: left;
        font-size: 25px;
        color: rgb( 255, 254, 254);
        line-height: 0.857;
    }
    &__position {
        margin-top: 45px;
        &-title {
            font-size: 18px;
            color: rgb( 1, 0, 0);
            line-height: 1.2;
            img {
                padding-right: 18px;
            }
        }
        &-content {
            margin-top: 50px;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-family: "Arial";
            color: rgb( 66, 66, 66);
            line-height: 1.629;
            img {
                padding-right: 50px;
            }
        }
    }
}

.partner {
    margin-top: 50px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/contact/partenr-title-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    .row {
        margin-top: 35px;
        &:nth-child(1) {
            margin-top: 75px;
        }
    }
    &__box {
        height: 100%;
        border: 1px solid;
    }
    &__img {
        height: 265px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.real-assets {
    .container {
        margin-top: 40px;
    }
    &__text {
        font-size: 20px;
        color: rgb( 100, 100, 100);
        margin: 30px 0px;
    }
    &__box {
        border-width: 4px;
        border-color: rgb( 51, 169, 225);
        border-style: solid;
        width: 600px;
        margin: 0px auto 35px auto;
        font-size: 25px;
        font-family: "Arial";
        color: rgb( 99, 99, 99);
        line-height: 1.847;
    }
    &__boximg {
        margin-top: 40px;
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
        }
        &-text {
            position: absolute;
            bottom: 0px;
            width: 100%;
            color: white;
            font-weight: bold;
            padding: 20px 0px;
            background-color: rgba( 0, 17, 25, 0.8);
        }
    }
}

.investment {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/investment.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__box--gray {
        background-color: rgb( 238, 238, 238);
        margin-top: 60px;
        .container {
            display: flex;
            align-items: center;
        }
        .investment__img {
            width: 50%;
            padding-right: 75px;
            img {
                width: 100%;
            }
        }
        .investment__text {
            text-align: left;
            font-size: 24px;
            font-family: "Arial";
            color: rgb( 0, 0, 0);
            font-weight: normal;
        }
    }
    .value-invest-real {
        &__title {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;
            font-family: "Arial";
            color: rgb( 1, 0, 0);
            line-height: 0.857;
            text-transform: capitalize;
            padding-top: 70px;
            padding-bottom: 30px;
            img {
                padding-right: 32px;
                transform: scale(0.6);
            }
        }
        &__box {
            width: 100%;
            height: 100%;
            position: relative;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        .row {
            margin-top: 30px;
        }
        &__titlebox {
            background-color: rgb( 255, 255, 255);
            opacity: 0.702;
            font-size: 24px;
            font-family: "Arial";
            color: rgb( 0, 0, 0);
            line-height: 1.484;
            position: absolute;
            width: 100%;
            bottom: 0px;
            font-weight: bold;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.value-invest-capital {
    margin-top: 50px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/value-invest-4.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 24px;
        font-family: "Arial";
        color: rgb( 52, 51, 51);
        padding: 100px 0px;
    }
}

.invest-funds {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/funds-title-background.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    .global-funds {
        &__wrap {
            position: relative;
            margin-top: 70px;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__text {
            display: flex;
            align-items: center;
            position: absolute;
            top: 60px;
            left: 55px;
            z-index: 1000;
            font-size: 24px;
            color: rgb( 26, 26, 26);
            line-height: 1.453;
            img {
                padding-right: 40px;
            }
        }
    }
    .funds-rmb {
        .container {
            margin-top: 45px;
        }
        &__img {
            img {
                width: 100%;
            }
        }
        &__text {
            margin-top: 15px;
            font-size: 24px;
            color: rgb( 46, 46, 46);
            text-align: left;
        }
    }
    .our-advantages {
        &__img {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__text {
            font-size: 24px;
            font-family: "Arial";
            color: rgb( 6, 6, 6);
            line-height: 1.676;
            padding-bottom: 15px;
            border-bottom: 2px solid black;
            padding-top: 50px;
        }
        .row {
            margin-top: 45px;
        }
    }
}

.global-funds {
    &__head {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-family: "Arial";
        color: rgb( 1, 0, 0);
        line-height: 0.857;
        text-transform: capitalize;
        padding-top: 70px;
        padding-bottom: 30px;
        img {
            padding-right: 20px;
            transform: scale(0.6);
        }
    }
    .arrow {
        img {
            transform: scale(0.8);
        }
    }
}

.invest-priciples {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/invest-principle.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__img {
        margin-top: 60px;
        img {
            width: 100%;
        }
    }
    &__dotside {
        ul {
            text-align: center;
            list-style-position: inside;
            list-style: none;
            margin-top: 40px;
            li {
                font-size: 22px;
                font-family: "Arial";
                color: rgb( 90, 90, 90);
                &::before {
                    content: "\2022";
                    /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: black;
                    /* Change the color */
                    font-weight: bold;
                    /* If you want it to be bold */
                    display: inline-block;
                    /* Needed to add space between the bullet and the text */
                    width: 1em;
                    /* Also needed for space (tweak if needed) */
                    margin-left: -1em;
                }
            }
        }
    }
    .subtainability {
        &__box {
            position: relative;
        }
        &__img {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__text {
            font-size: 20px;
            font-family: "Arial";
            color: rgb( 6, 6, 6);
            line-height: 1.2;
            text-align: center;
            position: absolute;
            background-color: white;
            opacity: 0.702;
            bottom: 0px;
            width: 100%;
            padding: 20px 0px;
        }
    }
}

.respon-invest {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/respon-invest.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        margin-top: 40px;
        font-size: 24px;
        font-family: "Arial";
        color: rgb( 90, 90, 90);
    }
    &__box--first {
        position: relative;
        margin-top: 40px;
        &__img {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__boxtext {
            color: white;
            position: absolute;
            top: 90px;
            left: 100px;
            h2 {
                display: flex;
                align-items: center;
                img {
                    margin-right: 30px;
                }
            }
            p {
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }
    &__box {
        position: relative;
        margin-top: 40px;
        &__img {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__boxtext {
            color: white;
            position: absolute;
            bottom: 0px;
            width: 100%;
            background-color: rgba( 15, 154, 220, 0.7);
            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 20px;
                img {
                    margin-right: 20px;
                }
            }
            p {
                font-size: 20px;
                margin-top: 25x;
            }
        }
    }
    .secutity__img {
        width: 100%;
        margin-top: 100px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.title-hv {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: "Arial";
    color: rgb( 79, 79, 79);
    line-height: 1.797;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
    img {
        margin-right: 10px;
        transform: scale(0.5);
    }
}

.east-global-financials {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/capital/east-global-finacial.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__text {
        margin-top: 60px;
        font-size: 24px;
        font-family: "Arial";
        color: rgb( 6, 6, 6);
        text-align: center;
        img {
            transform: scale(0.6);
        }
    }
    &__box {
        position: relative;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__boxtext {
        // text-align: center;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: "Arial";
        color: rgb( 50, 49, 49);
        img {
            margin-right: 20px;
        }
    }
    .row {
        margin-top: 30px;
    }
}

//css for club
.meaning-yuan-dong {
    &__content {
        background-color: rgb( 224, 224, 224);
        display: flex;
        align-items: center;
        margin-top: 80px;
    }
    &__text {
        font-size: 24px;
        font-family: "Arial";
        color: rgb( 66, 66, 66);
        margin-right: 100px;
    }
    .container {
        display: flex;
        align-items: center;
    }
    &__img {
        padding: 80px 0px;
    }
}

.hr-black {
    height: 5px;
    background-color: rgb( 0, 0, 0);
    width: 62px;
    text-align: left;
    margin-left: 0px;
    margin-top: 50px;
}

.meaning-yuan-dong__mission {
    h2 {
        font-size: 25.09px;
        font-family: "Arial";
        color: rgb( 1, 0, 0);
        font-weight: 600;
        margin-top: 40px;
    }
    p {
        font-size: 18px;
        font-family: "Arial";
        color: rgb( 66, 66, 66);
        // text-align:justify!important;
        // text-justify: inter-word;
        margin-top: 40px;
    }
    img {
        margin-top: 60px;
        width: 100%;
        object-fit: cover;
    }
}

.east-club-cluture {
    &__title {
        background: rgba(15, 154, 220, 0.8);
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 80px;
        @include title-top-bottom-line(white);
    }
    &__arrow-down {
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 60px auto;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__bat-quai {
        width: 680px;
        height: 680px;
        margin: 0px auto;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

.signature-event {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/club/signature-title.png') no-repeat center center;
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @include title-top-bottom-line(white);
    }
    &__box-inline {
        background: $mainColor;
        // height: 500px;
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    &__img {
        width: 55%;
        margin-right: 80px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .container {
        display: flex;
        align-items: center;
    }
    &__text {
        font-size: 20px;
        font-family: "Arial";
        color: rgb( 255, 255, 255);
        text-align: left;
    }
}

.club-active {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/club/activity.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 20px;
        font-family: "Arial";
        color: rgb( 62, 62, 62);
        text-align: center;
        margin-top: 60px;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .row {
        margin-top: 60px;
        ;
    }
}

.club-exchange {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/club/exchange.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.membership {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/club/membership.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 22px;
        // font-family: "Arial";
        color: rgb( 0, 0, 0);
        font-weight: bold;
        margin-top: 55px;
    }
}

//CSS for family
.Wealth-Management-Industry {
    &__title {
        font-size: 24px;
        color: rgb( 100, 100, 100);
        line-height: 1.431;
        text-align: center;
        margin-top: 60px;
    }
    &__text {
        font-size: 20px;
        color: rgb( 100, 100, 100);
        text-align: center;
    }
    &__img {
        margin-top: 50px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__arrow {
        width: 30px;
        height: 30px;
        margin: 35px auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__question {
        font-size: 22px;
        font-family: "Arial";
        color: #7a6b6b;
        font-weight: bold;
    }
}

.family-service {
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family/family-service.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.professional-team {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family/profess-team.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.network-support {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family/network.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.key-product {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family/key-product.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.fo-mission {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/family/fo-mission.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

//CSS for development
.develop-corp {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/corp.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.power-infrastructure {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/power.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
    &__text {
        font-size: 22px;
        color: rgb( 100, 100, 100);
    }
}

.Urbanization {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/urban.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.Business-Consultancy {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/buss-colsult.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
    &__text {
        color: rgb( 100, 100, 100);
        line-height: 1.4;
        font-size: 22px;
        margin: 80px 0px;
        p {
            padding-left: 20px;
            border-left: 15px solid rgb( 15, 154, 220);
        }
    }
}

.project-management {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/project.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.project-fund {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/fund.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
    .project-fund-content {
        &__box {
            width: 100%;
            display: flex;
        }
        &__img {
            width: 50%;
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__text {
            width: 50%;
            height: 100%;
            font-size: 20px;
            font-family: "Arial";
            color: white;
            text-align: left;
            padding: auto;
            background: #0f9adc;
        }
    }
}

.project-document {
    margin-top: 60px;
    &__title {
        color: white;
        font-size: 40px;
        padding: 50px 0px;
        background: url('../img/develop/project-doc.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-align: center;
        @include title-top-bottom-line(white);
    }
}

.projet-doc-content {
    margin-top: 70px;
    background: url('../img/develop/project-doc-1.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container {
        padding: 80px 0px;
    }
    &__text {
        font-size: 25px;
        color: rgb( 255, 255, 255);
        text-align: left;
    }
}